.attribution {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#wrapper {
  margin-top: 0;
  box-sizing: border-box;
  width: 70vh;
  height: 100%;
  background-color: hsl(223, 31%, 20%);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(222, 26%, 31%);
  font-family: "Spartan", sans-serif;
}
.display {
  box-sizing: border-box;
  width: 70vh;
  padding: 0;
}

#screen {
  background-color: hsl(224, 36%, 15%);
  width: 100%;
  height: 70px;
  border: none;
  font-size: 40px;
  text-align: right;
  color: white;
  margin: 0;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  padding: 10px;
}
.btn {
  background-color: hsl(30, 25%, 89%);
  width: 100%;
  /* height: 20px; */
  padding: 15px;
  /* text-align: center; */
  font-size: 18px;
  -webkit-box-shadow: 0px 4px 0px hsl(28, 16%, 65%);
  -moz-box-shadow: 0px 4px 0px hsl(28, 16%, 65%);
  box-shadow: 0px 4px 0px hsl(28, 16%, 65%);
}

.buttons {
  /* text-align: center; */
  margin-top: 0px;
}

.col {
  margin: 15px 0;
}

.del {
  width: 100%;
  border: none;
  background-color: hsl(225, 21%, 49%);
  -webkit-box-shadow: 0px 4px 0px hsl(224, 28%, 35%);
  -moz-box-shadow: 0px 4px 0px hsl(224, 28%, 35%);
  box-shadow: 0px 4px 0px hsl(224, 28%, 35%);
}
.equal {
  background-color: hsl(6, 63%, 50%);
  border: none;
  -webkit-box-shadow: 0px 4px 0px hsl(6, 70%, 34%);
  -moz-box-shadow: 0px 4px 0px hsl(6, 70%, 34%);
  box-shadow: 0px 4px 0px hsl(6, 70%, 34%);

  width: 100%;
}

.reset {
  width: 100%;
  border: none;
  background-color: hsl(225, 21%, 49%);
  -webkit-box-shadow: 0px 4px 0px hsl(224, 28%, 35%);
  -moz-box-shadow: 0px 4px 0px hsl(224, 28%, 35%);
  box-shadow: 0px 4px 0px hsl(224, 28%, 35%);
}
.header {
  box-sizing: border-box;
  width: 70vh;
  padding: 0;
  color: white;
}

#calc {
  margin-top: 15px;
  display: inline-block;
  font-size: 24px;
}
#themes {
  display: inline-block;
  position: relative;
  left: 220px;
  font-size: 8px;
}
.col-sm-12 {
  margin-top: 10px;
}

#theme-btn {
  height: 16px;
  font-size: 10px;
  background-color: hsl(223, 31%, 20%);
  border: none;
  color: hsl(6, 63%, 50%);
}

#theme-btn1 {
  background-color: hsl(223, 31%, 20%);
  border: none;
  color: hsl(6, 63%, 50%);
  height: 16px;
  font-size: 10px;
  margin-left: 5px;
}
p {
  margin-bottom: 5px;
}
